@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif; 
}

body main nav {
    text-align: left;
    font-size: 0.9em;
    font-weight: bold;
    padding-top: 1em;
}

.logo {
    font-size: 24px;
    padding: 10px;
    background-color: rgba(224,238,238);
}

main {
    max-width: 1200px;
    margin: auto;
}

nav {
    display: flex;
}

header{
    background-color: rgba(224,238,238);
    grid-template-columns: 80% 20%;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    padding: 10px;
}

a {
    
    color: black;
}

.fullscreen-hero {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url('Startseite.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: black;
    background-color: rgba(224,238,238,0.8);
    padding: 20px;
    border-radius: 8px;
    width: fit-content;
    margin: 20px auto;

}

.minimal-footer {
    padding: 20px;
    background-color: rgba(224,238,238);
    text-align: center;
}

